/*
*= require_tree .
*= require_self
*/

$main: #5f92ff; /* OCEAN GREEN */
$light: #B6CDFF; /* SPRING RAIN */
$dark: #B23B59; /* HOKEY POKEY */
$green: #47B975; /* OCEAN GREEN */
$border: #BEC8CE; /* LOBLOLLY */
$red: #F44336; /* POMEGRANATE */
$yellow: #ff9800; /* PIZAZZ */
$black: #211725; /* GREEN KELP */
$white: #FFFFFF; /* FAFAFA DESERT STORM */
$grey: #EEEEEE; /* GALLERY */
$fancy: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$radius: 6px;
$shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$shadow-lite: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$letterspacer: .05em;

$mini: 0.75em;
$mid: 2em;

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

@mixin textLabels {
  font-size: .75em;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0px;
  font-family: $fancy;
  font-weight: 400;
  background: $white;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

a {
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $dark;
  }
}

::selection {
  color: $white;
  background: $main;
}

::-moz-selection {
  color: $white;
  background: $main;
}

/* *************** FLASH ***************** */

.flash {
  position: fixed;
  margin: 0 auto;
  z-index: 1006;
  width: 60%;
  top: 0;
  left: 20%;
}

.alert-notice {
  border-bottom: 10px solid $green;
  border-left: 3px solid $green;
  border-right: 3px solid $green;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert-alert {
  border-bottom: 10px solid $dark;
  border-left: 3px solid $dark;
  border-right: 3px solid $dark;
  background: $white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  box-shadow: $shadow-lite;
}

.alert {
  width: 96%;
  margin: 0 auto;
  padding: 1vh 0;
  font-family: $fancy;
}

/* ***************** UNIVERSAL ************* */

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.dark {
  color: $border;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blur {
  -webkit-filter: blur(4px);
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.80;
  opacity: 0.80;
  z-index: 1002;
  display: none;
}

.center {
  text-align: center;
}

/* **************** IMAGES AND VIDEO *********************** */

img {
  border-radius: $radius;
  display: block;
}

video {
  display: block;
  max-height: 75vh;
}

.thumbnail-image {
  height: 31vh;
  width: 100%;
  border-radius: $radius;
  object-fit: cover;
  display: none;
  -webkit-backface-visibility: hidden;
}

/* **************** HOME *********************** */



/* *************** SIZES AND SPACE ************** */

.mini-text {
  font-size: $mini;
}

.mid-text {
  font-size: $mid;
}

.padding-vertical {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.padding-top {
  padding-top: 2vh;
}

.padding-bottom {
  padding-bottom: 2vh;
}

.padding-vertical-large {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.padding-bottom-large {
  padding-bottom: 5vh;
}

.padding-horizontal {
  padding-right: 2vw;
  padding-left: 2vw;
}

.padding-right {
  padding-right: 2vw;
}

.padding-left {
  padding-left: 2vw;
}

.border-top {
  border-top: 1px solid $border;
}

.border-bottom {
  border-bottom: 1px solid $border;
}

/* ********************** HEADER ***************** */

.header-container {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  a {
    color: $black;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  .site-title {
    @include transition;
    display: inline-block;
    width: 24%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: $letterspacer;
    &:hover {
      text-decoration: none;
      color: $light;
    }
  }
  ul {
    width: 75%;
    padding: 0;
    margin: 0;
    text-align: right;
    display: inline-block;
    li {
      width: 25%;
      display: inline-block;
      position: relative;
      text-align: center;
    }
  }
}

.nav-links {
  @include transition;
  cursor: pointer;
  color: $black;
  padding: 3vh 1vw;
  font-weight: 400;
  letter-spacing: $letterspacer;
  &:hover {
    color: $main;
  }
}

#menu-click {
  @include transition;
  cursor: pointer;
  color: $black;
  padding: 3vh 1vw;
  font-weight: 400;
  letter-spacing: $letterspacer;
  &:hover {
    color: $main;
  }
}

#menu-container {
  display: none;
  width: 20%;
  top: 0;
  right: 0;
  box-shadow: $shadow;
}

.side-menu {
  z-index: 1005;
  width: 30%;
  background: white;
  height: 100%;
  position: absolute;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    li {
      padding: 1vh 0;
      position: relative;
      text-align: right;
    }
  }
  .nav-links {
    color: $black;
    padding: 1vh 0;
    &:hover {
      color: $main;
    }
  }
}

/* ******************* FOOTER ******************* */

.full-footer-container {
  width: 100%;
  clear: both;
  padding-top: 15vh;
  background: $white;
}

.footer {
  font-size: .75em;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  span {
    float: left;
  }
  .nav-links {
    @include transition;
    color: $black;
    padding: 0;
    &:hover {
      @include transition;
      color: $main;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin: 0 1vw;
      &:first-child {
        margin: 0 1vw 0 0;
      }
    }
  }
}

.dark-background {
  background: $black;
}

.home-footer {
  font-size: .75em;
  width: 100%;
  .nav-links {
    @include transition;
    color: $white;
    padding: 0;
    &:hover {
      color: $light;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 1vh 0;
      &:first-child {
        margin: 0 0 1vh 0;
      }
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
  color: $black;
  padding-bottom: 2vh;
}

/* ****************** FORMS ****************** */

.form-container {
  width: 40%;
  margin: 0 auto;
  a {
    color: $light;
    &:hover {
      color: $dark;
    }
  }
  .main-color {
    a {
      color: $main;
      &:hover {
        color: $dark;
      }
    }
  }
  .link-color {
    a {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}

textarea:focus, input:focus {
  outline: none;
}

label {
  @include textLabels;
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

::placeholder {
    color: $border;
  }

.text-label {
  @include textLabels;
}

@mixin fields {
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  border-radius: $radius;
  font-family: $fancy;
  letter-spacing: .5px;
}

.StripeElement {
  @include fields;
  padding: 1vh 1vw;
  background: $grey;
  display: block;
}

select {
  @include fields;
  text-indent: 1vw;
  background: $grey;
  height: 4vh;
  background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right $grey;
  -webkit-appearance: none;
  background-position-x: 98%;
}

.text-field {
  @include fields;
  padding: 1vh 1vw;
  background: $grey;
}

.text-area {
  @include fields;
  min-width: 100%;
  max-width: 100%;
  min-height: 15vh;
  max-height: 30vh;
  height: 15vh;
  padding: 1vh 1vw;
  background: $grey;
  display: block;
}

.field {
  margin: 0 0 2vh 0;
}

.field-two-column {
  margin: 0 0 2vh 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.field-three-column {
  margin: 0 0 2vh 0;
  width: 32%;
  display: inline-block;
  vertical-align: top;
  select { 
    background-position-x: 94%;
  }
}

.padding-field-match {
  padding: .51vh 1vw;
}

@mixin buttons {
  @include transition;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 700;
  cursor: pointer;
  border-radius: $radius;
  box-sizing: border-box;
  font-family: $fancy;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: $white;
  padding: 1vh 1vw;
  background: $main;
  border: 2px solid $main;
  color: $white;
  -webkit-font-smoothing: unset;
  &:hover {
    box-shadow: $shadow;
  }
}

.submit-button {
  @include buttons;
}

.removal-button {
  @include buttons;
  background: $red;
  border: 2px solid $red;
}

.fake-button {
  @include buttons;
  padding: .51vh .51vw;
}

.search-container {
  margin: 0 auto;
  width: 60%;
}

.search-field {
  width: 70%;
  font-size: 1em;
  padding: 1vh 1vw;
  font-weight: 400;
  text-align: right;
  border: none;
  background-color: $grey;
  display: inline-block;
  box-sizing: border-box;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  font-family: $fancy;
  letter-spacing: 0px;
}

.search-button {
  @include transition;
  width: 30%;
  font-size: 1em;
  padding: 1vh 1vw;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: $main;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  font-family: $fancy;
  letter-spacing: 0px;
  &:hover {
    background: $dark;
  }
}

.image-button {
  @include buttons;
  padding: .51vh .51vw;
  border: 1px solid $main;
}

.active-paid-tab {
  @include transition;
  box-sizing: border-box;
  background: $main;
  color: $white;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 700;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid $main;
  -webkit-font-smoothing: unset;
  box-shadow: $shadow;
}

.inactive-paid-tab {
  box-sizing: border-box;
  @include transition;
  background: $grey;
  color: $black;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 400;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid transparent;
  -webkit-font-smoothing: unset;
  &:hover {
    background: $grey;
    border: 1px solid $grey;
  }
}

.active-removal-tab {
  @include transition;
  box-sizing: border-box;
  background: $red;
  color: $white;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 700;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid $red;
  -webkit-font-smoothing: unset;
  box-shadow: $shadow;
}

.inactive-removal-tab {
  box-sizing: border-box;
  @include transition;
  background: $grey;
  color: $black;
  padding: .51vh .51vw;
  border-radius: $radius;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  font-weight: 400;
  cursor: pointer;
  border-radius: $radius;
  font-family: $fancy;
  border: 1px solid transparent;
  -webkit-font-smoothing: unset;
  &:hover {
    background: $grey;
    border: 1px solid $grey;
  }
}
