<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 1.5em;
        font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        background: #EEEEEE;
        color: #211725;
        -webkit-font-smoothing: antialiased;
      }

      a {
        color: #5f92ff;
        text-decoration: none;
        &:hover {
          color: #B23B59;
        }
      }
      .wrapper {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
      }
      .container {
        width: 96%;
        margin: 0 auto;
      }
      .mid-text {
        font-size: 2em;
        line-height: 1.25em;
      }
      .padding-vertical-large {
        padding-top: 2vh;
        padding-bottom: 2vh;
      }
      .padding-vertical {
        padding-top: 1vh;
        padding-bottom: 1vh;
      }
      .padding-top {
        padding-top: 1vh;
      }
      .padding-bottom {
        padding-bottom: 1vh;
      }
      .padding-bottom-large {
        padding-bottom: 2vh;
      }
      .mid-container {
        width: 70%;
        margin: 0 auto;
      }
      .thumbnail-image {
        height: 31vh;
        width: 100%;
        border-radius: 6px;
        object-fit: cover;
        -webkit-backface-visibility: hidden;
        display: block;
      }
      .form-container {
        width: 40%;
        margin: 0 auto;
      }
      .form-border {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        padding: 1vh 1vw;
        background: #FFFFFF;
      }
      .center {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
